<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <th:block>
      <a class="navbar-brand" href="/">
        <img src="/images/icons8-microsoft-to-do-app-48.png">
      </a>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/todo/list" th:classappend="${active}">Todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/todo/register">Todo 등록</a>
          </li>
          <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/login">로그인</a>
          </li>
          <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="#">회원가입</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/logout">로그아웃</a>
          </li>
        </ul>
      </div>
    </th:block>
  </div>
</nav>


</html>