<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.todospring.mapper.MemberMapper">
    <!--namespace = 만들어둔 인터페이스 경로 풀네임-->

    <insert id="insertMember" parameterType="com.todo.todospring.domain.MemberDTO">
        insert into member(uid, pw, uname, uphoto) values(#{uid},#{pw},#{uname},#{uphotoName})
    </insert>

    <select id="selectbyIdPw" resultType="com.todo.todospring.domain.MemberDTO">
        select * from member where uid=#{param1} and pw=#{param2}
    </select>

</mapper>
