<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.todospring.mapper.TodoMapper">
    <!--namespace = 만들어둔 인터페이스 경로 풀네임-->

<!--    <select id="selectAll" resultType="com.todo.todospring.domain.TodoDTO">-->
<!--        select * from tbl_todo-->
<!--    </select>-->

    <insert id="insertToDo" parameterType="com.todo.todospring.domain.TodoDTO">
        insert into tbl_todo (todo, duedate) values (#{todo},#{dueDate})
    </insert>

    <update id="updateTodo" parameterType="com.todo.todospring.domain.TodoDTO">
        update tbl_todo set todo=#{todo}, duedate=#{dueDate}, finished=#{finished} where tno=#{tno}
    </update>




</mapper>
