* {
    margin: 0;
    padding: 0;
}

section {
    background-color: #f2f5f7;
    height: 496px;
    margin: 0 40;
    width: auto;
    overflow: auto;
}

#aside1 {
    width: 400px;
    padding-right: 32px;
    vertical-align: top;
    float: left;
    margin-top: 100px;
    margin-left: 10px;
}

#aside2 {
    text-align: center;
    float: right;
    margin-top: 100px;
    margin-right: 10px;
}

#aside2 div {
    width: 396px;
    height: 315px;
    background-color: white;
}
